<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lyriki</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '474228509428221',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <style>
    .jumbotron { 
        background-color: #f4511e; /* Orange */
        color: #ffffff;
        opacity: 0.8;
    }
    .bg-grey {
        background-color: #f6f6f6;
    }
    .pic{
        background-image: url(http://www.claxtonguitars.com/mediafiles/home_images/3_thecomposer-custom-guitar-banner1.jpg);
        z-index: -1;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        opacity: 0.8;
    }
    </style>
    <div class="pic"></div>
    <div class="jumbotron text-center">
        <h1>Lyriki</h1> 
        <p>Automatically put your lyrics to music!</p>
    </div>

    <div class="container-fluid text-center">
        <h2>Enter your lyrics:</h2>
        <form class="form-inline" action="/get_lyrics" method="post">
            <input type="text" class="form-control" size="50" name="lyrics" id="lyrics" placeholder="Your lyrics here">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="container-fluid bg-grey">
    </div>

    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
</body>
</html>
